.ios, .md{
  page-contcamps {
    ion-content {
      font-family: 'Happy Monkey';
      text-align: center;
      background-color: #00A2E8;
      background-size: 100% 100%;
      padding-vertical: 20px;
    }
    ion-label{
      text-align: center;
      font-family: 'Happy Monkey';
    }
    select{
      font-family: "Happy Monkey";
    }
  }
}

